.git
.gitignore
.github
.pytest_cache
.coverage
.env
.env.encrypted
.venv/
docs/.venv/
docs/_build/
docs/html/
app/node_modules/
playwright-tests/node_modules/
playwright-tests/test-results/
playwright-tests/screenshots/
playwright-tests/playwright-report/
eggs/
parts/
var/
develop-eggs/
bin/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.DS_Store
