#surveyEditorContainer {
    margin-left: -200px;
    width: calc(100% + 400px);
    height: 1000px;
}

#surveyContainer {
    height: 100%;
    border-bottom: 1px solid #bdbdbd;
}

.sv-quill-editor .ql-editor {
    min-height: 160px;
}

.sv-quill-update {
    margin-top: 10px;
}
